.about {
    margin: 30px;
    
}

.about-left {
    display: flex;
    flex-direction:column;
    height: 100%;
    width: 50%;
    float: left;
    align-items: center;
    justify-content: center;
}

.about-right {
    display: flex;
    flex-direction:column;
    height: 100%;
    width: 50%;
    float: right;
    align-items: center;
    justify-content: center;
}
